<table class="table text-center">
    <thead>
        <tr>
            <th *ngFor="let concepto of conceptos">{{concepto}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!listaRegistros || listaRegistros.length == 0" @fadeIn>
            <td colspan="6">No hay registros en este mes</td>
        </tr>
        <tr
            item-registro
            [registro]="registro"
            *ngFor="let registro of listaRegistros"
            (registroEliminar)="deleteRegister($event)"
            @fadeIn
        >
        </tr>
        <tr>
            <td colspan="3" class="text-end">Total Mensual</td>
            <td colspan="3" class="text-start" [ngStyle]="{'color': totalMes > 0 ? 'green':'red'}">{{totalMes}} €</td>
        </tr>
    </tbody>
</table>

