<div class="container-fluid justify-content-center">
    <div class="row mt-3 justify-content-around">
        <div class="col-6 text-center">
            <h2>{{mesActual}} {{anyoActual}}</h2>
        </div>
        <div class="col-6 justify-content-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Nuevo Registro <i class="fa-sharp fa-solid fa-plus"></i></button>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-6 text-center">
            <button (click)="prevMonth()" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Mes Anterior</button>
        </div>
        <div class="col-6 text-center">
            <button (click)="nextMonth()" class="btn btn-primary">Mes Siguiente <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive mt-3 col-lg-10 col-md-10">
            <lista-registros 
              [listaRegistros]="listRegistrosMes"
              (idEliminar)="eliminar($event)"
              ></lista-registros>
        </div>
    </div>
</div>
  
  <!-- Modal nuevos registros -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario" (ngSubmit)="addRegister()">
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select #tipo class="form-select" formControlName="tipo" (change)="tipoSeleccionado(tipo.value)">
                    <option selected></option>
                    <option value="Gasto">Gasto</option>
                    <option value="Ingreso">Ingreso</option>
                  </select>
                  <span style="color: red;" *ngIf="this.formulario.controls['tipo'].dirty && this.formulario.get('tipo')?.errors?.['required']">El detalle no puede quedar vacío</span>
            </div>
            <div class="mb-3">
                <label for="concepto" class="form-label">Concepto</label>
                <select [attr.disabled]="isdisabled ? '' : null" formControlName="concepto" class="form-select">
                    <option *ngFor="let concepto of conceptos">{{concepto}}</option>
                </select>
                <span style="color: red;" *ngIf="this.formulario.controls['concepto'].dirty && this.formulario.get('concepto')?.errors?.['required']">El Concepto no puede quedar vacío</span>
            </div>
            <div class="mb-3">
                <label for="detalle" class="form-label">Detalle</label>
                <input [attr.disabled]="isdisabled ? '' : null" formControlName="detalle" type="text" class="form-control" id="detalle">
            </div>
            <span style="color: red;" *ngIf="this.formulario.controls['detalle'].dirty && this.formulario.get('detalle')?.errors?.['required']">El detalle no puede quedar vacío</span>
            <div>
                <label for="cantidad" class="form-label">Cantidad</label>
                <input [attr.disabled]="isdisabled ? '' : null" formControlName="cantidad" type="number" class="form-control" id="cantidad">
            </div>
            <span style="color: red;" *ngIf="this.formulario.controls['cantidad'].dirty && this.formulario.get('cantidad')?.errors?.['required']">La cantidad no puede quedar vacía</span>        
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>